<section id="services" class="relative z-10 -mt-32 w-full bg-white pt-30 pb-20 px-6 md:px-24">
    <h2 class="text-3xl md:text-4xl font-serif text-center text-gray-900 mb-12">Nuestros Servicios</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        <div class="bg-white p-4 rounded-xl shadow-lg hover:shadow-xl transition relative overflow-hidden">
            <img src="/servicios/uñas.jpg" alt="Uñas" class="w-full h-80 object-cover rounded-md mb-4" />
            <h3 class="text-xl font-semibold text-[#d18ba3] mb-1">Uñas</h3>
            <p class="text-sm text-gray-700">Manicure, acrílicas, esmaltado semipermanente y más.</p>
        </div>
        <div class="bg-white p-4 rounded-xl shadow-lg hover:shadow-xl transition relative overflow-hidden">
            <img src="/servicios/makeup.jpg" alt="Maquillaje" class="w-full h-80 object-cover rounded-md mb-4" />
            <h3 class="text-xl font-semibold text-[#d18ba3] mb-1">Maquillaje</h3>
            <p class="text-sm text-gray-700">Social, artístico, para eventos especiales o sesiones.</p>
        </div>
        <div class="bg-white p-4 rounded-xl shadow-lg hover:shadow-xl transition relative overflow-hidden">
            <img src="/servicios/pestañas.jpg" alt="Pestañas" class="w-full h-80 object-cover rounded-md mb-4" />
            <h3 class="text-xl font-semibold text-[#d18ba3] mb-1">Pestañas</h3>
            <p class="text-sm text-gray-700">Lifting, extensiones clásicas, volumen ruso y más.</p>
        </div>
        <div class="bg-white p-4 rounded-xl shadow-lg hover:shadow-xl transition relative overflow-hidden">
            <img src="/servicios/pedicure.jpg" alt="Pedicure" class="w-full h-80 object-cover rounded-md mb-4" />
            <h3 class="text-xl font-semibold text-[#d18ba3] mb-1">Pedicure</h3>
            <p class="text-sm text-gray-700">Spa, limpieza profunda, decoración y tratamientos.</p>
        </div>
    </div>
</section>
